


<%= form_for @vote do |f| %>
  <%= f.hidden_field :experience_id, :value => @experience.id %>
  <%= f.hidden_field :session_browser_platform, :value => browser.platform %>
  <%= f.hidden_field :session_browser_name, :value => browser.name %>
  <%= f.hidden_field :session_browser_version, :value => browser.full_version %>
  <%= f.hidden_field :session_ip, :value => request.remote_ip %>
  <!--clip_id confidence-->

  <div class="field">
    <%= f.label :experience_id %><br>
    <%= f.text_field :experience_id %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<div class="btn-group" data-toggle="buttons">

  <% @experience.clips.each do |clip| %>
    <label class="btn btn-default">
      <input type="checkbox" checked autocomplete="off"><%= clip.name %>
    </label>
  <% end %>
</div>

<h5>Choose your confidence level in this choice</h5>

<div class="btn-group" data-toggle="buttons">
  <% options = [*1..10] %>
  <% options.each do |option| %>
    <label class="btn btn-default">
      <input type="checkbox" checked autocomplete="off"><%= option %>
    </label>
  <% end %>
</div>
