<div class="container">

  <!-- Trigger/Open The Modal -->
  <button id="myBtn">Open Modal</button>

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Welcome to Townsend Labs comparison survey</h3><br>
      <p>The following examples audio clips compare the Sphere microphone models and the original microphone the model was based on. Each set of audio files comes in an "A" version and a "B" version, where the model and the original are randomly assigned to A or B, so that the test is blind.</p>
      <p>The vocal test files compare a mid 1950s era U47 with the Sphere model at both cardioid and omni polar pattern settings, as well as a closer distance option for the cardioid setting. For this test the U47 and the Sphere L22 were placed right next to each and carefully aligned for the most equal sound pickup. Inevitably there are some errors in the tests due to it being impossible for the microphones to occupy the same point in space, but we tried to minimize as much as we could.</p>
      <p>The guitar amp files have comparisons with a M49, U47 (a different one than that used on the vocal files), U67, and a U87 at omni, cardioid and figure-8 patterns, with both on-axis and 45 degrees off-axis positions. For this test one microphone was recorded at a time and the guitar amp was re-amped so that exactly the same sound could be produced for every recording. All microphones were carefully aligned using a self-leveling alignment lasers, so the mic capsules are in exactly the same position for every test.</p>
    </div>
  </div>

  <br>

  <div class="row row-offcanvas row-offcanvas-left">
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">

      <h4>Choose your experience category</h4><!--Tag list -->
      <ol class="breadcrumb square-edges border-1px">
        <li class="page-clicked"><%= link_to "All", main_index_path %></li>
        <% @tags.each do |tag| %>
          <li class="page-clicked"><%= link_to tag, tag_path(tag) %>&nbsp;</li>
        <% end %>
        <br>
        <div id="tag-experience">
          <div id="experience-chosen"></div>
        </div>
      </ol>

      <%= form_tag main_path(@experiences.first), :method => :get, :remote => true, :id => 'drop-down-submit', :data => { :target => 'current_experience' } do %>
        <%= select_tag :experience, options_for_select([['Choose Experience', '']] + @experiences.collect { |a| [a.name, a.id] }) %>
      <% end %>
    </div><!--Left column -->

    <div class="col-xs-12 col-sm-8"><!--Right column -->
      <div class="current-experience-spacer">&nbsp;
      </div>
      <div id="current_experience">
        <div id="mobile-instruction-header" style="display: none;">
          <h3>Click above for experience selection</h3>
        </div>
        <br><br>
        <div id="place-holder-image">
          <%= image_tag("townsend-Labs-Sphere-L22-And-Accessories-Wide-600x450.jpg", class: 'image_opacity_6') %>
        </div>
        <br><br>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $('.row-offcanvas').toggleClass('active');
//    $('#place-holder-image').hide();
    $('.row-top').hide(200);
    console.log("menu button click app.erb")

    if (localStorage['tagSelected'] == 'All' || localStorage['tagSelected'] == null) {
      $('#experience-chosen').html('');
    } else {
      $('#experience-chosen').html("Experiences filtered by " + localStorage['tagSelected']);
    }

    if (localStorage['welcomeViewed'] == 'no') {
      $("#welcome-message").show();
      console.log("localStorage['welcomeViewed'] == 'no'");
    }
    console.log('Page reload. Document ready completed.');
    console.log('welcomeViewed: ' + localStorage['welcomeViewed']);
  });

  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
    $('#place-holder-image').hide();
    $('.row-top').hide(200);
    console.log("menu button click app.erb")
  });

  $(".page-clicked").click(function(){
    localStorage['welcomeViewed'] = 'yes';
    localStorage['tagSelected'] = $(this).closest('li').text();
    if (localStorage['tagSelected'] == 'All' || localStorage['tagSelected'] == null) {
      $('#experience-chosen').html('');
    } else {
      $('#experience-chosen').html("Experiences filtered by " + localStorage['tagSelected']);
    }
    console.log('Filtered by: ' + localStorage['tagSelected']);

  });


  $('#drop-down-submit select').on('change', function() {
    $(this).closest("form").trigger("submit");
  });

  $("select").change(function() {
    $(".value").html($(this).val());
  });

  // Modal popup code
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }



</script>

<style>
  #tag-experience {
    padding-top: 5px;
    opacity: 0.5;
  }

  select {
    width: 100%;
    height: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #337ab7;
    border-color: #ddd;
    outline: 0px inset #cccccc;
    padding-left: 10px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    outline-offset:-1px
  }

  .btn-primary {
    position:relative;
    pointer-events: none;
    border-radius: 0;
    border:5px solid darken(#ca12ea,20%);
  }

  .caret {
    margin-left:5px;
  }
  html * {
    /*box-sizing:border-box;*/
  }



  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 2px;
  }
  /* The Close Button */
  .close {
    color: #222;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
</style>



