<div class="container">
  <div class="row row-top" data-toggle="offcanvas">
    <div class="col-xs-12 col-sm-9">
      <%= render 'top' %><!--This is the top wording -->
    </div>
  </div>
  <br>

  <div class="row row-offcanvas row-offcanvas-left">
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">

      <h4>Choose your experience category</h4><!--Tag list -->
      <ol class="breadcrumb square-edges border-1px">
        <li><%= link_to "All", main_index_path %></li>
        <% @tags.each do |tag| %>
          <li><%= link_to tag, tag_path(tag) %>&nbsp;</li>
        <% end %>
      </ol>


      <div class="dropdown square-edges border-1px">
        <button class="btn btn-default dropdown-toggle square-edges border-1px" type="button" data-toggle="dropdown">Choose Experience
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% @tags.each do |tag| %>
            <li><%= link_to tag, tag_path(tag) %>&nbsp;</li>
          <% end %>
        </ul>
      </div>

      <br><br>


      <%= form_tag main_path(@experiences.first), :method => :get, :remote => true, :id => 'drop-down-submit', :data => { :target => 'current_experience' }, class: '' do %>
        <%= select_tag :experience, options_for_select([['Choose Experience', '']] + @experiences.collect { |a| [a.name, a.id] }) %>
      <% end %>

    </div><!--Left column -->

    <div class="col-xs-12 col-sm-8"><!--Right column -->
      <div class="current-experience-spacer">
        &nbsp;
      </div>

      <div id="current_experience">
          <br><br>
          <%= image_tag("townsend-Labs-Sphere-L22-And-Accessories-Wide-600x450.jpg", class: 'image_opacity_6') %>
          <br><br>
      </div>
    </div>


  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#simple-example").select2();
  });

  $( ".js-example-basic-single" ).change(function() {
    var experienceValue = $('select.js-example-basic-single').find(':selected').data('experience');
    alert( experienceValue );
    window.location = "www.google.com"
  });

  $('#drop-down-submit select').on('change', function() {
    $(this).closest("form").trigger("submit");
  });

  $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) {
    e.stopPropagation();
  });


</script>

<style>
  .dropdown {
    display:inline-block;
  }
  select {
    position:absolute;
    -webkit-appearance: menulist-button;
    width:100%;
    height:100%;
    opacity:0.001;
    z-index:100;
  }

  .btn-primary {
    position:relative;
  }

  select:hover + .btn-primary, .btn-primary:hover {
    background-color: darken(#ca12ea,5%);
    border:5px solid darken(#ca12ea,25%);
  }
</style>



