
<p>Browser.platform: <%= browser.platform %></p>
<p>Browser.meta: <%= browser.meta %></p>
<p>Browser.name: <%= browser.name %></p>
<p>Browser.full_version: <%= browser.full_version %></p>
<p>IP: <%= request.remote_ip %></p>

