<div class="container">
  <div class="row row-top" data-toggle="offcanvas">
    <div class="col-xs-12 col-sm-9" id="welcome-message" style="display: none">
      <%= render 'top' %><!-- Welcome message -->
    </div>
  </div>
  <br>

  <div class="row row-offcanvas row-offcanvas-left">
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">

      <h4>Choose your experience category</h4><!--Tag list -->
      <ol class="breadcrumb square-edges border-1px">
        <li class="page-clicked"><%= link_to "All", main_index_path %></li>
        <% @tags.each do |tag| %>
          <li class="page-clicked"><%= link_to tag, tag_path(tag) %>&nbsp;</li>
        <% end %>
        <br>
        <div id="tag-experience">
          <div id="experience-chosen"></div>
        </div>
      </ol>

      <%= form_tag main_path(@experiences.first), :method => :get, :remote => true, :id => 'drop-down-submit', :data => { :target => 'current_experience' } do %>
        <%= select_tag :experience, options_for_select([['Choose Experience', '']] + @experiences.collect { |a| [a.name, a.id] }) %>
      <% end %>
    </div><!--Left column -->

    <div class="col-xs-12 col-sm-8"><!--Right column -->
      <div class="current-experience-spacer">
        &nbsp;&nbsp;
      </div>

      <div id="current_experience">
        <div id="mobile-instruction-header" style="display: none;">
          <h3>Click above for experience selection</h3>
        </div>
          <br><br>
            &nbsp;
        <div id="place-holder-image">
        <%= image_tag("townsend-Labs-Sphere-L22-And-Accessories-Wide-600x450.jpg", class: 'image_opacity_6') %>
        </div>



          <br><br>
      </div>
    </div>


  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('[data-toggle=offcanvas]').click(function() {
      $('.row-offcanvas').toggleClass('active');
      $('#place-holder-image').hide();
      $('.row-top').hide(200);
      console.log("menu button click app.erb")
    });

    if (localStorage['tagSelected'] == 'All' ) {
      $('#experience-chosen').html('');
    } else {
      $('#experience-chosen').html("Experiences filtered by " + localStorage['tagSelected']);
    }

    $("#simple-example").select2();
    if (localStorage['welcomeViewed'] == 'no') {
      $("#welcome-message").show();
    }
    console.log('Page reload.');
  });

  $(".page-clicked").click(function(){
    localStorage['welcomeViewed'] = 'yes';
    localStorage['tagSelected'] = $(this).closest('li').text();
    if (localStorage['tagSelected'] == 'All' ) {
      $('#experience-chosen').html('');
    } else {
      $('#experience-chosen').html("Experiences filtered by " + localStorage['tagSelected']);
    }
    console.log('Filtered by: ' + localStorage['tagSelected']);


//
//    $("#welcome-message").hide(200);
//    $("#mobile-instruction-header").css('display', 'inline');

  });


  $('#drop-down-submit select').on('change', function() {
    $(this).closest("form").trigger("submit");
  });

  $("select").change(function() {
    $(".value").html($(this).val());
  });


</script>

<style>
  #tag-experience {
    padding-top: 5px;
    opacity: 0.5;
  }

  select {
    width: 100%;
    height: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #337ab7;
    border-color: #ddd;
    outline: 0px inset #cccccc;
    padding-left: 10px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    outline-offset:-1px
  }

  .btn-primary {
    position:relative;
    pointer-events: none;
    border-radius: 0;
    border:5px solid darken(#ca12ea,20%);
  }

  .caret {
    margin-left:5px;
  }
  html * {
    /*box-sizing:border-box;*/
  }
</style>



