<div class="container">
  <div class="row row-top" data-toggle="offcanvas">
    <div class="col-xs-12 col-sm-9">
      <%= render 'top' %><!--This is the top wording -->
    </div>
  </div>
  <br>

  <div class="row row-offcanvas row-offcanvas-left">
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">

      <h4>Choose your experience category</h4><!--Tag list -->
      <ol class="breadcrumb square-edges border-1px">
        <li><%= link_to "All", main_index_path %></li>
        <% @tags.each do |tag| %>
          <li><%= link_to tag, tag_path(tag) %>&nbsp;</li>
        <% end %>
      </ol>

      <br><br><br>

      <select class="js-example-basic-single">
        <% @tags.each do |tag| %>
          <option value="AL"><%= link_to tag, tag_path(tag) %></option>
        ...
        <% end %>

      </select>

      <br><br><br>

      <% @experiences.each do |experience| %>
        <%= link_to experience.name, main_path(experience), remote: true, class: 'list-group-item' %>
      <% end %>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Experiences <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% @experiences.each do |experience| %>
            <%= link_to experience.name, main_path(experience), remote: true, class: 'list-group-item' %>
          <% end %>
          <li class="divider"></li>
          <li><%= link_to "link4", "#",{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></li>

        </ul>
      </div>

      <br><br><br>



      <form>
        <%= select_tag "experiences", options_from_collection_for_select(@experiences, "id", "name"), id: "simple-example" %>
      </form>

      <div class="nav list-group square-edges"><!--Nav -->
        <% @experiences.each do |experience| %>
          <%= link_to experience.name, main_path(experience), remote: true, class: 'list-group-item' %>
        <% end %>
      </div>

    </div>
    <div class="col-xs-12 col-sm-8"><!--Ajax loading experience -->
      <div class="current-experience-spacer">
        &nbsp;
      </div>
      <div id="current_experience">

          <br><br>
          <%= image_tag("townsend-Labs-Sphere-L22-And-Accessories-Wide-600x450.jpg", class: 'image_opacity_6') %>
          <br><br>
      </div>
    </div>


  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#simple-example").select2();
  });
</script>



