<p id="notice"><%= notice %></p>
<div class="container">
  <h3>All available clips:</h3>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Experience</th>
        <th>Name</th>
        <th>Description</th>
        <th>File name</th>
        <th>Format</th>
        <th>JSON?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clips.each do |clip| %>
        <tr>
          <% if clip.experience.blank? %>
            <td>&nbsp;</td>
          <% else %>
            <td><%= clip.experience.name %></td>
          <% end %>

          <td><%= clip.name %></td>
          <td><%= clip.description %></td>
          <td><%= clip.file_name %></td>
          <td><%= clip.format %></td>
          <td><%= !clip.player_json.blank? %></td>
          <td><%= link_to 'Show', clip %></td>
          <td><%= link_to 'Edit', edit_clip_path(clip) %></td>
          <td><%= link_to 'Destroy', clip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Return to Experiences', experiences_path %>
</div>