<div class="container">

  <p id="notice"><%= notice %></p>

  <h2>Experiences</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @experiences.each do |experience| %>
        <tr>
          <td><%= experience.id %></td>
          <td><%= experience.name %></td>
          <td><%= experience.description %></td>
          <td><%= link_to 'Show', experience %></td>
          <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
          <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Experience', new_experience_path %>
</div>