<div class="container">
  <p id="notice"><%= notice %></p>
  <h2>Experiences</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th>Clips</th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @experiences.each do |experience| %>
        <tr>
          <td><%= experience.name %></td>
          <td><%= experience.description %></td>
          <td><%= experience.tag_list %></td>
          <td><%= experience.clips.count %></td>
          <td><%= link_to 'View', experience %></td>
          <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
          <td><%= link_to 'Delete', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Experience', new_experience_path %> | <%= link_to 'Home', main_index_path %> | <%= link_to 'Votes', votes_path %>
</div>