<div class="container">
  <p id="notice"><%= notice %></p>
  <h3>Experience Details</h3>
  <p>
    <strong>Name:</strong>
    <%= @experience.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @experience.description %>
  </p>
  <% unless @experience.clips.empty? %>
    <br>
    <h4>Clips for this Experience:</h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Experience</th>
          <th>Description</th>
          <th>Filename / JSON</th>
          <th>Format</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
      <% @experience.clips.each do |clip| %>
        <tr>
          <td><%= clip.id %></td>
          <td><%= clip.name %></td>
          <td><%= clip.experience.name %></td>
          <td><%= clip.description %></td>
          <td><%= "#{clip.file_name}.#{clip.format}" %><br><%= "#{clip.player_json}" %></td>
          <td><%= clip.format %></td>
          <td><%= link_to 'Edit', edit_clip_path(clip) %></td>
          <td><%= link_to 'Delete', [clip.experience, clip], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <h5>** Currently there are no clips for this experience</h5>
  <% end %>



  <br>
  <h5>Add a clip:</h5>
  <p><i>&nbsp;Randomizer: '<%= @anonymous_name %>'</i></p>
  <%= form_for([@experience, @experience.clips.build]) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description, :size=>"75" %>
    </p>
    <p>
      <%= f.label :file_name %><br>
      <%= f.text_field :file_name, :size=>"75" %>
    </p>
    <p>
      <%= f.label :format %><br>
      <%= f.text_field :format %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <%= link_to 'Edit this Experience', edit_experience_path(@experience) %> |
  <%= link_to 'Back', experiences_path %>
</div>

<br><br>
