<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @vote.notes %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @vote.experience_id %>
</p>

<p>
  <strong>Session browser platform:</strong>
  <%= @vote.session_browser_platform %>
</p>

<p>
  <strong>Session browser name:</strong>
  <%= @vote.session_browser_name %>
</p>

<p>
  <strong>Session browser version:</strong>
  <%= @vote.session_browser_version %>
</p>

<p>
  <strong>Session ip:</strong>
  <%= @vote.session_ip %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
