<div class="container">
  <br>
  <p id="notice"><%= notice %></p>

  <p>You voted on experience: <%= @vote.experience.name %>. Your rated your confidence in this vote a <%= @vote.confidence %>/10.</p>

  <% if @vote.clip_id == 1 %>
    <p>You have successfully been able to identify the original microphone used in this comparison. Congratulations!</p>
  <% else %>
    <p>A good guess, but unfortunately you selected the Sphere microphone!</p>
  <% end %>
  <br>

  <p>According to our records, you've already voted on the following experiences:</p>
  <% @voted_on.each do |v| %>
    <h5><%= v.experience.name %></h5>
  <% end %>
  <br>
  <%= link_to 'Vote Again', root_path %>
</div>
